@import "~@angular/material/theming";

mp-pollution {
    text-align: center;
}

mat-sidenav-content {
    mat-progress-bar {
        position: fixed;
        top: 0;
        left: 0;
    }
    mat-toolbar {
        &>mat-toolbar-row {
            &>button:first-child {
                padding: .5em;
            }
        }
    }
}