@import '~@angular/material/theming';

div {
    text-align: center;
}
:host {
    color: map-get($mat-grey, 50);
    .temperature {
        margin: 0;
        padding: 0;
        span {
            @extend .temperature;
            &:first-child {
                margin-right: -.2em;
            }
        }
    }
    .detail {
        @extend .temperature;
        span+span {
            height: 100%;
            border-left: solid 1px map-get($mat-grey, 50);
        }
        b {
            font-weight: bold;
        }
    }
    .indeterminate {
        background-color: map-get($mat-grey, 600);
        .detail {
            background-color: map-get($mat-grey, 500);
        }
    }
    .determinate {
        background-color: map-get($mat-deep-purple, 600);
        .detail {
            background-color: map-get($mat-deep-purple, 500);
        }
    }
}